*{
     box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
     margin: 0;
}

@keyframes show{
    form{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}


h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(91, 11, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
    view-timeline: --container;
    view-timeline-axis: block;
    animation-timeline: --container;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;

}

.color-acento{ color: blueviolet;}

header{
    background-color: rgb(245, 245, 245);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
}


header .container{
    display : flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(171, 142, 198);
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("media/bunny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#paloma .container{
    text-align: center;
    padding: 200px 12px;
}
#paloma p{
    margin: 0 auto;
    margin-left: 10px;
}

#Obsequios{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Obsequios .container{
    padding: 150px 12px;
}

#Obsequios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Obsequios p{
    display: none;
}

#Obsequios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
        background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
        ,url("media/lili.jpg");
}

.carta:nth-child(2){
        background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
        ,url("media/yo.jpg");
}

.carta:last-child{
        background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
        ,url("media/flower.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}